

.page-content{
    display: flex;
    width: 100%;
    min-height: 85vh;  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.page-section{
    /* border: 1px solid rgb(216, 16, 16); */
    /* min-height: 100vh; */
}

.section-content{
    border: 1px solid blue;
}

.page-title{
    width: 100%;
    text-align: center;
    /* border: 1px solid blue;  */
}